# HW 7 Phonemes identifier using Neural Networks

In [15]:
import pandas as pd

# Read in Data
df = pd.read_csv('/Users/kevin/Desktop/Stats 760/Homework7/phoneme.data.txt')
df.head()

,row.names,x.1,x.2,x.3,x.4,x.5,x.6,x.7,x.8,x.9,...,x.249,x.250,x.251,x.252,x.253,x.254,x.255,x.256,g,speaker
0,1,9.85770,9.20711,9.81689,9.01692,9.05675,8.92518,11.28308,11.52980,10.79713,...,12.68076,11.20767,13.69394,13.72055,12.16628,12.92489,12.51195,9.75527,sh,train.dr1.mcpm0.sa1
1,2,13.23079,14.19189,15.34428,18.11737,19.53875,18.32726,17.34169,17.16861,19.63557,...,8.45714,8.77266,9.59717,8.45336,7.57730,5.38504,9.43063,8.59328,iy,train.dr1.mcpm0.sa1
2,3,10.81889,9.07615,9.77940,12.20135,12.59005,10.53364,8.54693,9.46049,11.96755,...,5.00824,5.51019,5.95725,7.04992,7.02469,6.58416,6.27058,3.85042,dcl,train.dr1.mcpm0.sa1
3,4,10.53679,9.12147,10.84621,13.92331,13.52476,10.27831,8.97459,11.57109,12.35839,...,5.85688,5.40324,6.07126,5.30651,4.27412,3.63384,3.22823,4.63123,dcl,train.dr1.mcpm0.sa1
4,5,12.96705,13.69454,14.91182,18.22292,18.45390,17.25760,17.79614,17.76387,18.99632,...,8.00151,7.58624,6.65202,7.69109,6.93683,7.03600,7.01278,8.52197,aa,train.dr1.mcpm0.sa1

In [16]:
# Dropping row.names
df = df.drop(['row.names','speaker'], axis=1)
df.head()

,x.1,x.2,x.3,x.4,x.5,x.6,x.7,x.8,x.9,x.10,...,x.248,x.249,x.250,x.251,x.252,x.253,x.254,x.255,x.256,g
0,9.85770,9.20711,9.81689,9.01692,9.05675,8.92518,11.28308,11.52980,10.79713,9.04747,...,12.94519,12.68076,11.20767,13.69394,13.72055,12.16628,12.92489,12.51195,9.75527,sh
1,13.23079,14.19189,15.34428,18.11737,19.53875,18.32726,17.34169,17.16861,19.63557,20.15212,...,8.91567,8.45714,8.77266,9.59717,8.45336,7.57730,5.38504,9.43063,8.59328,iy
2,10.81889,9.07615,9.77940,12.20135,12.59005,10.53364,8.54693,9.46049,11.96755,12.05282,...,6.49345,5.00824,5.51019,5.95725,7.04992,7.02469,6.58416,6.27058,3.85042,dcl
3,10.53679,9.12147,10.84621,13.92331,13.52476,10.27831,8.97459,11.57109,12.35839,10.47826,...,5.36506,5.85688,5.40324,6.07126,5.30651,4.27412,3.63384,3.22823,4.63123,dcl
4,12.96705,13.69454,14.91182,18.22292,18.45390,17.25760,17.79614,17.76387,18.99632,17.40394,...,7.74256,8.00151,7.58624,6.65202,7.69109,6.93683,7.03600,7.01278,8.52197,aa

In [18]:
# Exploratory Data Analysis
unique_phonemes = df['g'].unique()

print('Number of observations: {}'.format(len(df)))
print(unique_phonemes)

Number of observations: 4509
['sh' 'iy' 'dcl' 'aa' 'ao']

### Items for Neural Net
1. Break into Training & Test Sets
1. One-Hot Encode Categorical Phonemes
2. Scale Data
4. Build Network Toplogy
5. Tune weights through back-propagation
6. Iterate on time for training

#### 1. Train/Test Split

In [52]:
# Training and Test Sets
from sklearn.model_selection import train_test_split

# Break in X matrix and y vector
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2)
X_train.head()
print('length of X_train:',len(X_train))
print('length of X_test:',len(X_test))
print('length of y_train:',len(y_train))
print('length of y_test:',len(y_test))

length of X_train: 3607
length of X_test: 902
length of y_train: 3607
length of y_test: 902

#### 2. One-Hot Encode
Encoded y_train and y_test

In [48]:
# One-Hot Encode Column g corresponding to Phonemes
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

def encode(y):
    """
    Input: y prediction vector; either train or test
    Output: One-Hot Encoded Categorical array corresponding to Phonemes
    """
    encoder = LabelEncoder()
    encoded_Y = encoder.fit_transform(y)
    dummy_y = to_categorical(encoded_Y)
    return dummy_y
y_train = encode(y_train)
y_test = encode(y_test)
y_test
y_train

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

#### 4-6. Network Topology/Backpropagation/Epochs/Batch_Size
* Network Topology: 256 -> 128 -> 5
* Activation Functions: relu -> relu -> softmax
* Initializers: normal
* Loss Function: Categorical Crossentropy
* Optimizer: Adam
* Metrics: Accuracy, Precision, Recall, and f1-score
* Metric Displays: Classification Report, Confusion Matrix

In [61]:
## Neural Network Functions

# Define Sigmoid Activation Function
def sigmoid(x):
  return 1/(1+np.exp(x))
# Testing, sigmoid(0) = 0.5


# Define Loss function calculation
def calc_loss(model,activation):
  W1, b1, W2, b2 = model['W1'],model['b1'],model['W2'],model['b2']

  # Forward Propagation
  z1 = X.dot(W1) + b1
  a1 = activation(z1)
  z2 = a1.dot(W2) + b2
  exp_scores = np.exp(z2) # Numerator for softmax
  probs = exp_scores / np.sum(exp_scores,axis=1,keepdims=True) # Softmax

  # Calculate Loss (categorical cross entropy)
  neg_log = -1*np.log(probs[range(num_examples),y]) 
  data_loss = np.sum(neg_log)
  data_loss += reg_lambda/2 * (np.sum(np.square(W1)) + np.sum(np.square(W2))) #Regularized model to reduce loss
  loss = 1/num_examples * data_loss

  return loss


# Define prediction
def predict(model,x,activation):

  # Forward Propagation
  z1 = X.dot(W1) + b1
  a1 = activation(z1)
  z2 = a1.dot(W2) + b2
  exp_scores = np.exp(z2) # Numerator for softmax
  probs = exp_scores / np.sum(exp_scores,axis=1,keepdims=True) # Softmax

  # Prediction
  y_hat = np.argmax(probs,axis=1)

  return y_hat


def build_model(neurons_in_hidden_layer,activation,num_passes=100,print_loss=False):

  # Random Initialization of Weights/Bias
  #np.random.seed(0)
  W1 = np.random.randn(number_of_input_features,neurons_in_hidden_layer) / np.sqrt(number_of_input_features)
  b1 = np.zeros((len(X),number_of_input_features))
  W2 = np.random.randn(neurons_in_hidden_layer,neurons_in_output_layer) / np.sqrt(neurons_in_hidden_layer)
  b2 = np.zeros((len(X),neurons_in_output_layer))

  # Initialize our model
  model = {}

  # Gradient Descent for each batch
  for i in range(num_passes):

    # Forward Propagation
    z1 = X.dot(W1) + b1
    a1 = activation(z1)
    z2 = a1.dot(W2) + b2
    exp_scores = np.exp(z2)
    probs = exp_scores / np.sum(exp_scores,axis=1,keepdims=True)
    #print(probs)

    # Backpropagation
    delta3 = probs
    delta3[range(num_examples),y] -= 1 ###############
    dW2 = (a1.T).dot(delta3)
    db2 = np.sum(delta3, axis=0, keepdims=True)
    delta2 = delta3.dot(W2.T) * (1 - np.power(a1, 2))
    dW1 = np.dot(X.T, delta2)
    db1 = np.sum(delta2, axis=0)

    # Add regularization terms
    dW2 += reg_lambda * W2
    dW1 += reg_lambda * W1

    # Gradient Descent parameter updates
    W1 += -alpha * dW1
    b1 += -alpha * db1
    W2 += -alpha * dW2
    b2 += -alpha * db2

    model = {'W1':W1, 'b1':b1, 'W2':W2, 'b2':b2}

    if print_loss and i % 20 == 0:
      print("Loss after iteration %i: %f" % (i, calc_loss(model,activation)))
    
  return model

In [58]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from keras import backend

seed = 7

# Create Baseline model
def baseline_model():
  model = Sequential()
  model.add(Dense(256, input_dim=256, kernel_initializer='normal', activation='relu'))
  model.add(Dense(128,activation='relu'))
  model.add(Dense(5, kernel_initializer='normal', activation='softmax'))

  # Compile model
  model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
  return model

# Standardize and Pipeline
estimators=[]
estimators.append(('standardize',StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=baseline_model, epochs=150, batch_size=5,verbose=0)))
pipeline=Pipeline(estimators)

# K-Fold Cross-Validation & Cross-Validation Score
# kfold = KFold(n_splits=3, shuffle=True, random_state=seed)
# results = cross_val_score(pipeline, X, y, cv=kfold)
# print(results)

pipeline.fit(X_train,y_train)
y_pred = pipeline.predict(X_test)
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix = pd.DataFrame(cm)
classification_report = classification_report(y_test,y_pred)

#### Classification Report & Confusion Matrix

In [59]:
print(classification_report)
confusion_matrix.columns = ['aa','ao','dcl','iy','sh']
confusion_matrix.index = ['aa','ao','dcl','iy','sh']
confusion_matrix

             precision    recall  f1-score   support

         aa       0.82      0.76      0.79       147
         ao       0.82      0.87      0.84       187
        dcl       1.00      0.97      0.98       167
         iy       0.98      1.00      0.99       216
         sh       0.99      1.00      1.00       185

avg / total       0.93      0.93      0.93       902

      aa   ao  dcl   iy   sh
aa   110   37    0    0    0
ao    21  166    0    0    0
dcl    1    0  162    4    0
iy     0    0    0  216    0
sh     0    0    0    0  185